@import 'tailwindcss';

body{
    background-image: url("../public/images/new-background.jpg");
    background-size: cover;
    background-color: #0D1517;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
}
