// Example: 
SPRING_DATASOURCE_URL=jdbc:postgresql://db:0000/db
SPRING_DATASOURCE_PASSWORD=passworddb
SPRING_DATASOURCE_USERNAME=usernmaedb
ANGULAR_FRONTEND_URL=http://localhost:0000
TOKEN_SECRET_KEY=tokenKey
