<div class="text-center mb-5 px-5">
  <img class="rounded-circle border border-3 border-opacity-25 border-light shadow"
        src="./../../../../..//public/icons/profile_icon.png"
        alt="Profile" width="80">
  <h6 class="text-light mt-3 opacity-75">Admin Account</h6>
</div>

<nav class="nav flex-column fw-bold">
  <a class="nav-link-custom"
    routerLink="/profile"
    routerLinkActive="active"
    ><i class="bi bi-person"></i> Profile</a>

  <a class="nav-link-custom"
    routerLink="/dashboard"
    routerLinkActive="active"
    ><i class="bi bi-speedometer2"></i> Dashboard</a>

  <a class="nav-link-custom"
    routerLink="/finances"
    routerLinkActive="active"><i class="bi-list-columns-reverse"></i> Transactions</a>

  <a class="nav-link-custom"><i class="bi bi-gear"></i> Settings</a>

  <div class="mt-auto">
    <hr class="text-light opacity-25">
    <a class="nav-link-custom text-danger" (click)="logoutUser()"><i class="bi bi-box-arrow-right"></i> Logout</a>
  </div>

</nav>
