.dashboard-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.sidebar {
  background-color: #5A5A5A;
  color: white;
  padding: 20px;
}

.sidebar nav a {
  display: block;
  color: #bdc3c7;
  padding: 10px 0;
  text-decoration: none;
}

.content {
  background-color: transparent;
  padding: 30px;
  overflow-y: auto;
}

aside{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: 1px solid #FFF;

}

main{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.financial-details{
  font-weight: bolder;
  background-color: #1a1d20 !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

a{
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
