<div class="container-fluid p-5 round rounded-4">
  <div class="row">
  <aside class="bg-dark col">
    <img class="user-icon m-5 round rounded-5" src="https://cdn-icons-png.flaticon.com/512/9308/9308008.png" alt="Profile Image">
    <nav class=" fw-bolder h5 text-light ps-3">
      <a class="row mt-5 ps-4
      link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Profile</a>
      <a class="row mt-4 ps-4
      link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Dashboard</a>
      <a (click)="navigateToUpdates()" class="row mt-4 ps-4
      link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Update</a>
      <a class="row mt-4 ps-4
      link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Settings</a>
      <a class="row mt-4 ps-4
      link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Logout</a>
    </nav>
  </aside>

  <main class=" bg-dark col-10">
    <h2 class="fw-bold text-light text-center py-2 ">Welcome back, {{username}}</h2>
    <section class="container row text-light financial-details my-3 py-3">
      <div class="col-3">

        <div class="row g-3 mt-2">
          <div class="card bg-secondary text-light p-3 border-light border-opacity-25">
            <small class="text-secondary-emphasis">Total Accounts</small>
            <h5 class="mb-0">R$ 5.000,00</h5>
          </div>
        </div>

        <div class="row g-3 mt-2">
          <div class="card bg-secondary text-light p-3 border-light border-opacity-25">
            <small class="text-secondary-emphasis">Total Invested</small>
            <h5 class="mb-0">R$ 25.000,00</h5>
          </div>
        </div>

        <div class="row g-3 mt-2">
          <div class="card bg-secondary text-light p-3 border-light border-opacity-25">
            <small class="text-secondary-emphasis">Month</small>
            <h5 class="mb-0">R$ 3.000,00</h5>
          </div>
        </div>

        <div class="row g-3 my-2">
          <div class="card bg-secondary text-light p-3 border-light border-opacity-25">
            <small class="text-secondary-emphasis">Month Earnings</small>
            <h5 class="mb-0">R$ 527,70</h5>
          </div>
        </div>

      </div>

      <div class="col">
          <img class="round rounded-5" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.kandasoft.com%2Fimages%2F2024%2F05%2FChart-7.png&f=1&nofb=1&ipt=3d29e6721b4748df05890427c96b9b25eabd3850366ba29b2e37e6da941447f0" alt="">
      </div>

    </section>
  </main>
  </div>
</div>

