<div class="container-fluid p-4">
  <div class="row dashboard-container rounded-5 shadow-lg">

    <aside class="sidebar col-auto d-flex flex-column p-4">
      <app-aside-component></app-aside-component>
    </aside>

    <main class="col p-4 text-light">

      <header class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fw-bold m-0">Welcome back, <span class="text-info">{{userCredentials.username}}</span></h2>

        <div class="col-md-3 col-lg-2 mb-4">
          <label class="form-label d-flex align-items-center">
            <i class="bi bi-calendar3 me-2 text-info"></i> Period
          </label>

          <div class="input-group custom-glass-select">
            <select
              class="form-select border-0"
              [(ngModel)]="monthData"
              (change)="updateMonth()"
              >
              <option value="" disabled selected>Select month...</option>
              @for (month of months; track month){
                <option [value]="month" class="bg-dark text-white">{{month}}</option>
              }
            </select>
          </div>
        </div>

      </header>

      <div class="chart-controls d-flex justify-content-center my-1">

        <a (click)="setChartType('bar')"
          class="type-option"
          [class.active]="typeChart === 'bar'">
          <i class="bi bi-bar-chart mx-1"></i>Bar Chart
        </a>

        <a (click)="setChartType('doughnut')"
          class="type-option"
          [class.active]="typeChart === 'doughnut'">
          <i class="bi bi-pie-chart mx-1"></i>
          Doughnut Chart
        </a>
        <a (click)="setChartType('pie')"
          class="type-option"
          [class.active]="typeChart === 'pie'">
          <i class="bi bi-pie-chart-fill"></i>
          Pie Chart
        </a>
      </div>

      <div class="row g-4">

        <div class="col-lg-4 col-md-5">
          <div class="d-flex flex-column gap-3">

            <div class="finance-card p-4 shadow-sm">
              <small class="metric-label">Total Balance</small>
              <h3 class="fw-bold mb-0">{{(totalMonthly.incomes || 0) + (totalMonthly.expenses || 0)| currency:'BRL'}}</h3>
            </div>

            <div class="finance-card p-4 shadow-sm border-start border-2 border-success">
              <small class="metric-label">Monthly Income</small>
              <h3 class="fw-bold mb-0 text-success">{{((totalMonthly.incomes )|| 0)| currency:'BRL'}}</h3>
            </div>

            <div class="finance-card p-4 shadow-sm border-start border-2 border-danger">
              <small class="metric-label">Monthly Expenses</small>
              <h3 class="fw-bold mb-0 text-danger">{{(totalMonthly.expenses || 0) | currency:'BRL'}}</h3>
            </div>

          </div>
        </div>

        <div class="col-lg-8 col-md-7">
          <div class="chart-container chart-placeholder h-100 p-4">
            <canvas id="Finance-chart"> {{ financeChart }}</canvas>
          </div>
        </div>

      </div>

    </main>

  </div>
</div>
