<div class="container-fluid p-4">
  <div class="row dashboard-container rounded-5 shadow-lg">

    <aside class="sidebar col-auto d-flex flex-column p-4">
      <app-aside-component></app-aside-component>
    </aside>

    <div class="col-11 col-md-8 col-lg-6 p-4">

      <h2 class="text-center text-white mb-4 opacity-75 fw-bold">New Transaction</h2>
      <main class="glass-card dark-placeholder shadow-lg overflow-hidden">
        <div class="card-body p-4 p-md-5">
          <form [formGroup]="financeForm" (ngSubmit)="addTransaction()">

            <div class="mb-4">
              <label class="form-label d-block text-center mb-3">Transaction Type</label>
              <div class="transaction-type-selector">

                <div class="type-option type-income"
                    [class.active]="financeForm.get('type')?.value === 'income'"
                    (click)="setTransactionType('income')">
                  <i class="bi bi-graph-up-arrow me-2"></i>Income
                </div>

                <div class="type-option type-expense"
                    [class.active]="financeForm.get('type')?.value === 'expense'"
                    (click)="setTransactionType('expense')">
                  <i class="bi bi-graph-down-arrow me-2"></i>Expense
                </div>

              </div>
            </div>

            <div class="mb-4">
              <label class="form-label">Description</label>
              <div class="input-group">
                <span class="input-group-text bg-white border-0 rounded-start-4"><i class="bi bi-pencil-square text-secondary"></i></span>
                <input type="text" class="form-control rounded-end-4" formControlName="description" placeholder="Ex: Salary or Rent">
              </div>
            </div>

            <div class="row g-3">
              <div class="col-md-6 mb-4">
                <label class="form-label">Value (R$)</label>
                <div class="input-group">
                  <span class="input-group-text bg-white border-0 rounded-start-4 fw-bold text-secondary">R$</span>
                  <input type="number" class="form-control rounded-end-4" formControlName="value" placeholder="0.00">
                </div>
              </div>

              <div class="col-md-6 mb-4">
                <label class="form-label">Category</label>
                <select class="form-select rounded-4" formControlName="category">
                  <option value="" disabled selected>Select...</option>
                  @for (cat of categories; track cat){
                    <option [value]="cat">{{cat}}</option>
                  }
                </select>
              </div>
            </div>

            @if (financeForm.get('value')?.invalid && financeForm.get('value')?.touched) {
              <div class="alert-box mb-4">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                Use dots (<b>.</b>) for decimals.
              </div>
            }

            <button [disabled]="financeForm.invalid" type="submit"
                    class="w-100 btn btn-lg btn-add text-white fw-bold shadow py-3 transition-all">
              <i class="bi bi-check-circle me-2"></i> Confirm Transaction
            </button>
          </form>
        </div>
      </main>
    </div>

    <div class="col-11 col-md-3 col-lg-3 mx-4 my-3 transaction-div px-3 py-3">
      <h2 class="fw-bold text-light opacity-75 mb-3 text-center">Last transactions</h2>

      @for (trans of transactionsDisplayed; track trans.value) {

        @if (trans.value < 0) {
          <div class="container transaction-unit expense-unit mb-2 text-light fw-bold opacity-75 p-4 h4">
            Value: <strong class="h5 mb-1">{{(trans.value / 100 * -1 || 0) | currency:'BRL'}}</strong><br class="mb-1">
            Type: <strong class="h5">Expense</strong><br class="mb-1">
            Date: <strong class="h5"><span>{{trans.date.substring(0, 10)}}</span></strong>
          </div>
        }

        @else{
          <div class="container transaction-unit income-unit mt-2 text-light fw-bold opacity-75 p-4 h4">
            Value: <strong class="h5 mb-1">{{(trans.value / 100 || 0) | currency:'BRL'}}</strong><br class="mb-1">
            Type: <strong class="h5">Income</strong><br class="mb-1">
            Date: <strong class="h5"><span>{{trans.date.substring(0, 10)}}</span></strong>
          </div>
        }
      }

    </div>

  </div>
</div>
