<div class="text-center mb-5 px-5">

  <a class="nav-link-custom"
    routerLink="/profile"
    routerLinkActive="active">
    <img class="rounded-circle  border-3 border-opacity-25 border-light shadow"
        src="./../../../../..//public/icons/profile_icon.png"
        alt="Profile" width="80">
    </a>
    <h6 class="text-light mt-2 opacity-75">Admin</h6>


</div>

<nav class="nav flex-column fw-bold">

  <a class="nav-link-custom"
    routerLink="/dashboard"
    routerLinkActive="active"><i class="bi bi-speedometer2"></i> Dashboard</a>

  <a class="nav-link-custom"
    routerLink="/finances"
    routerLinkActive="active"><i class="bi-list-columns-reverse"></i> Transactions</a>

  <a class="nav-link-custom"
    routerLink="/budgets"
    routerLinkActive="active"><i class="bi bi-list-columns"></i> Budgets</a>

  <a class="nav-link-custom"
    routerLink="/history"
    routerLinkActive="active"><i class="bi bi-bank"></i> History</a>


  <!-- <a class="nav-link-custom"><i class="bi bi-gear"></i> Settings</a>-->

  <div class="mt-auto">
    <hr class="text-light opacity-25">
    <a class="nav-link-custom text-danger" (click)="logoutUser()"><i class="bi bi-box-arrow-right"></i> Logout</a>
  </div>

</nav>
